/* reset css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Catamaran', sans-serif;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    color: #dc143c !important;
}

body, button, input {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: 1.4px;
    background-color: burlywood;

}


ul,
ol {
    list-style: none;
}

.container {
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    background-attachment: fixed;
}

.bg-dark {
    background-color: #000;
}

.bg-image-1 {
    background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .3)),
    url(../images/pexels-tim-mossholder-2331884.jpg);
}

.bg-image-2 {
    background-image: url(../images/pexels-alleksana-4186555.jpg);
}

.backgroundDark {
    background: linear-gradient(to right, #ea1d6f 0%, #eb466b 100%);
}

.backgroundLight {
    background: linear-gradient(to right, #f6d365 0%, #fda085 100%);
}

.footer{
    padding: 2vh 1vw;
    color:rgb(227, 227, 227);
    font-family: 'Castoro Titling', cursive;
}

.bg-footer{
    background-color: #87396b;
}

.icon-footer{
    width: 10vh;
    height: 10vh;
}

.flex{
    display:flex;
}